@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@100..900&display=swap");

:root {
  --cor-primaria: #000000;
  --cor-secundaria: #329dd6;
  --cor-terciaria: #ec4b61;
  --cor-hover-botao: #4376ba81;
  --cor-hover-menu: #4377ba;

  --fonte-primaria: "Krona One", sans-serif;
  --fonte-secundaria: "Montserrat", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

body {
  /* height: 100vh; */
  box-sizing: border-box;
  background-color: var(--cor-primaria);
  color: var(--cor-secundaria);
}

.cabecalho {
  padding: 2% 0% 0% 15%;
}

.cabecalho__menu {
  display: flex;
  gap: 80px;
}

.cabecalho__menu__links {
  font-size: 1.5rem;
  font-family: var(--fonte-secundaria);
  font-weight: 600;
  text-decoration: none;
  color: var(--cor-terciaria);
}

.cabecalho__menu__links:hover {
  color: var(--cor-hover-menu);
}

.apresentacao {
  padding: 5% 15%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 82px;
}

.apresentacao__conteudo {
  width: 50%;
  display: flex;
  gap: 38px;
  flex-direction: column;
}

.apresentacao__conteudo__titulo {
  font-family: var(--fonte-primaria);
  font-size: 2.25rem;
  font-weight: 600;
}

.titulo__MP {
  font-family: var(--fonte-primaria);
  font-size: 1.75rem;
  font-weight: 600;
  color: var(--cor-secundaria);
}

.apresentacao__links__MP {
  color: var(--cor-secundaria);
  font-size: 1.75rem;
  text-decoration: none;
  font-weight: 600;
  margin-top: 100px;
  padding-top: 100px;
}

.apresentacao__links__MP:hover {
  color: var(--cor-hover-menu);
}

.apresentacao__imagem__MP {
  width: 80%;
}

.apresentacao__conteudo__subtitulo {
  font-family: var(--fonte-primaria);
  font-size: 1.75rem;
  font-weight: 600;
}

.titulo-destaque {
  color: var(--cor-terciaria);
}

.apresentacao__conteudo__texto {
  font-family: var(--fonte-secundaria);
  font-size: 1.5rem;
  font-weight: 400;
}

.apresentacao__links {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 32px;
}

.apresentacao__links__subtitulo {
  font-family: var(--fonte-primaria);
  font-size: 1.5rem;
  font-weight: 400;
}

.apresentacao__links__navegacao {
  display: flex;
  justify-content: center;
  gap: 16px;
  color: var(--cor-secundaria);
  border: 2px solid var(--cor-terciaria);
  width: 50%;
  text-align: center;
  border-radius: 8px;
  padding: 21.5px 0;
  font-family: var(--fonte-secundaria);
  font-size: 1.5rem;
  font-weight: 600;
  text-decoration: none;
}

.apresentacao__links__navegacao:hover {
  background-color: var(--cor-hover-botao);
  color: #f6f6f6;
}

.apresentacao__lista {
  width: 100%;
  display: flex;
  gap: 38px;
  flex-direction: column;
}

.apresentacao__lista__texto {
  font-family: var(--fonte-secundaria);
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 10px;
}

.apresentacao__lista__links {
  color: var(--cor-terciaria);
  font-size: 1.2rem;
  text-decoration: none;
  font-weight: 600;
}

.apresentacao__imagem {
  width: 35%;
  height: auto;
  object-fit: contain;
  position: fixed;
  top: 260px;
  z-index: 2;
  right: 260px;
  width: 450px;
}

.rodape {
  text-align: center;
  color: var(--cor-primaria);
  background-color: var(--cor-terciaria);
  padding: 23.64px;
  font-size: 1rem;
  font-family: var(--fonte-secundaria);
  font-weight: 600;
}

@media (max-width: 1250px) {
  .cabecalho {
    padding: 10%;
  }

  .cabecalho__menu {
    justify-content: center;
  }

  .apresentacao {
    flex-direction: column-reverse;
    padding: 3% 5%;
    gap: 41px;
  }

  .apresentacao__conteudo {
    width: auto;
  }

  .apresentacao__imagem {
    width: 50%;
  }
}
